body {
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
	background: linear-gradient(to right, #00ff00 , #ff0000); /* Standard syntax */
}
input{
    background: none;
    border: none;
}
input:hover{
    cursor: pointer;
    border: .1em solid black;
    border-radius: .12em;
    transform: scale(1.0);
    transition: all .5s;
   background-color: azure;
}


h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}
#container {
    
    margin: 20px/*margin on top and bottom of container*/ auto/*makes it same size on left and right*/;
   
}
button {
    background: linear-gradient(to right, #ff0000, #00ff00 );
    display: inline-block;
    text-align: center;
    white-space: nowrap;    
    border: .1em solid black;
    border-radius: .12em;
    height: 2em;
    width: 12em;
    text-transform: uppercase;
    height: 100%;
    font-weight: 700;
    outline: none;
    font-size: inherit;/* sizes based on parent property */
    transition: all .5s;
    cursor: pointer;
}
button:hover{
    font-size: 32px;
  background: -webkit-linear-gradient(steelblue, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
    transform: scale(.15px);
    transition: all 0.3s ease-in-out;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}
